main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  padding: 24px;
}

#players {
  position: absolute;
  top: 24px;
  left: 24px;
}

.player-list {
  width: 400px;
}

.player-list li {
  display: flex;
  width: 100%;
}

.player-list li .list-player-name {
  max-width: 200px;
  padding: 2px 0px;
  flex: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.player-list li .list-player-info {
  padding: 2px 5px;
}

.progress-counter {
  position: absolute;
  top: 24px;
  height: 34px;
  right: 24px;
  width: 300px;
}


h1 {
  font-size: 3em;
  text-align: center;
  font-weight: 600;
  color: #353239;
}

h1 span span {
  color: tomato;
  position: relative;
  bottom: -1em;
  opacity: 0;
  animation: move-text 0.75s forwards;
}

h1 span span:nth-child(2n) {
  color: lightseagreen;
}

h1 span span:nth-child(3n) {
  color: orange;
}

h1 span span:nth-child(4n) {
  color: dodgerblue;
}

h1 span span:nth-child(5n) {
  color: blueviolet;
}

@keyframes move-text {
  0% {
    bottom: -0.2em;
    opacity: 1;
  }

  50% {
    bottom: 0.2em;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}
