h1 {
  font-size: 3em;
  text-align: center;
  font-weight: 600;
  color: #353239;
}

h1 span span {
  color: tomato;
  position: relative;
  bottom: -1em;
  opacity: 0;
  animation: move-text 0.75s forwards;
}

h1 span span:nth-child(2n) {
  color: lightseagreen;
}

h1 span span:nth-child(3n) {
  color: orange;
}

h1 span span:nth-child(4n) {
  color: dodgerblue;
}

h1 span span:nth-child(5n) {
  color: blueviolet;
}

@keyframes move-text {
  0% {
    bottom: -0.2em;
    opacity: 1;
  }

  50% {
    bottom: 0.2em;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}
